<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="consul">
      <section name="settings" type="Consul.Net.ConsulConfigurationHandler, consul-net" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>    
  </configSections>
  <consul>
    <settings agent="127.0.0.1:8500" dataCenter="" />    
  </consul>
</configuration>